@charset "ISO-8859-1";
.hidden{
   display: none
}
#loginbox{
    width: 316px;
    height: 430px;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 4px 17px grey;
    background-color: white;
    padding: 16px 31px;
}
#registerbox{
    width: 400px;
    height: 560px;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 4px 17px grey;
    background-color: white;
    padding: 12px 60px;
}
h1{
	text-align: center;
}
body{
	background-color: #3498db;
	background-image:url('../images/beerLogIn.png');
	background-repeat: no-repeat;
    background-position: right 55% bottom 415%;
}
.bubbles {
	display: inline-block;
	font-family: arial;
	position: relative;
	margin: 0% 39%;
}

.bubbles h1 {
	position: relative;
	margin: 1em 0 0;
	font-family: 'Luckiest Guy', cursive;
	color: #fff;
	z-index: 2;
}

.individual-bubble {
	position: absolute;
	border-radius: 100%;
	bottom: 10px;
	background-color: #fff;
	z-index: 1;
}
#webtitle{
    animation-delay: 1s;
}